<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    {{!-- hero section start --}}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1">
                        <h1>WE WILL HELP YOU <br>TO GROW YOUR BUSINESS</h1>
                        <p>We Are Team of <span class="bold-style">professional developer 🤞</span></p>
                        <a href=""><input type="button" value="READ MORE"></a>
                    </div>
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            <img src="img/9.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- hero section end --}}
</body>

</html>